{% extends 'base.html' %}
<html>
<head>
    <title>Feedback Form</title>
</head>
<style>

</style>
<body>
{% block content %}
<div class="container">
<div class="row">
    <div class="offset-md-3 col-md-4">
        {% if fdata %}
            <center><h1 style="color:green">Feedback Form</h1></center>
            {% endif %}
            {% if fdata %}
            {% for i in fdata %}
            {% if i.rating >= 5 and i.rating <= 10%}
              <b style="font-size:x-large;color:slateblue;font-family:'Times New Roman'" >
                  Name:{{ i.name|capfirst }}</b><br>
               Rating:{{ i.rating }}<br>
               Date:{{ i.date }}<br>
        FeedBack:{{ i.feedback }}<br><br>
        {% endif %}
        {% endfor %}
        {% else %}
        <h1>No Feedbacks are Available</h1>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <h3>Enter Your FeedbackForm</h3>
            {{ fform }} <br>
            <center>
                <input type="submit" value="send" class="btn btn-success">
                <input type="reset" value="clear" class="btn btn-danger">
            </center>

        </form>
    </div>
</div>

</div>
{% endblock %}
</body>
</html>